html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#title{
  text-align: center;
}

#project-form {
  padding: 5vh 0 5vh 0;
  background-color: rgb(179, 216, 245);
}

.util-cont {
  padding-top: 2%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5%;
}


