body{
    background-color: rgb(226, 226, 236);
}  
  
  #project-form {
padding-top: 5%;
  }
  
  #title{
      text-align: center;
  }

  #form-container{
      padding-top: 2%;
      border: 2px solid black;
      border-radius: 5px;
      margin-left: 5%;
  }


